.cards {
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    align-self: center;
    margin: auto;
    align-items: center;

    .card_button_flex {
        display: flex;
        align-self: center;
    }

    .card_button {
        border: none;
        align-self: center;
        padding: 10px 35px;
        border-radius: 5px;
        background-color: rgb(255, 99, 0);
        -webkit-box-shadow: 5px 5px 5px -5px rgba(240, 141, 42, 0.6);
        -moz-box-shadow: 5px 5px 5px -5px rgba(241, 132, 29, 0.6);
        box-shadow: 7px 7px 7px -5px rgba(233, 137, 47, 0.6);
        transition: 0.3s;
        color: white;
        font-weight: 500;
        font-size: 20px;

        &:hover {
            border: none;
            background-color: rgb(105, 192, 65);

        }
    }

    .cardContainer {
        width: 300px;
        border: 2px solid rgb(82, 77, 74);
        border-radius: 10px;
        -webkit-box-shadow: 5px 5px 5px -5px rgba(146, 98, 53, 0.6);
        -moz-box-shadow: 5px 5px 5px -5px rgba(146, 98, 53, 0.6);
        box-shadow: 7px 7px 7px -5px rgba(146, 98, 53, 0.6);
    }

    .card_img {
        width: 298px;
        height: 220px;
    }
    .date_calendar{
        width: 300px;
        height: 300px;
    }
}

.card_marker {
    display: flex;

}