.cards {
    display: flex;
    flex-direction: column;
    width: 84%;
    margin: 0 auto;

    .restaurant_title {
        margin: 20px 0;
        color: rgb(79, 79, 126);
        font-weight: 600;
        font-size: 25px;
        text-align: center;

    }




}


