.bg {

  .bg_img {
    // width:100%;
    height: 80%;
  }

  .main_content {
    width: 100%;
    height: 90%;
    overflow: hidden;
    white-space: nowrap;
    z-index: 10;
    position: relative;

  }

 
  .bg_img{
    margin: 2%;
  }
}