@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


:root {
  --bgColor: #E0E0E0;
  --descriptionColor: #757575;
  --black: #000000;
  --turquoise: #2B788B;
  --lightTurquoise: #C3DCE3;
  --bg2Color: #FFFFFF;
}


.description {
  color: var(--descriptionColor);
  font-weight: 18px;
  font-weight: 600;
}


.title {
  font-weight: 400px;
  font-size: 48px;
  font-family: 'Dela Gothic One', sans-serif;
  color: var(--black);
}


.subtitle {
  font-weight: 700px;
  font-size: 16px;
  color: var(--turquoise);
}


.button {
  font-weight: 700px;
  font-size: 16px;
  border-radius: 40px;
  padding: 14px 22px;
  background-color: var(--lightTurquoise);
  color: var(--turquoise);
  border: none;
}


button:hover{
  border: 2px solid var(--turquoise);
  background-color: transparent;
  transition: 0.5s;
  font-weight: 500;
  cursor: pointer;
}

.slick-slider .slick-initialized {
  width: 200px;
  height: 200px;
}


svg {
  color: var(--turquoise);
}

