

.carousel_content {
    margin-top: 15px;
    height: 550px;
    background-color:#436068;
    border-radius: 10px;
    line-height: 160px;
    align-items: center;
    width: 84%;
    justify-content: center;
    margin: auto;

    .carousel_flex {
    
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 15px;

        .carousel_title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            align-items: center;
            color: white;
            font-size: 25px;
        }

        .carousel_image {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            img{
                border-radius: 10px;

            }
        }
    }
}